@media screen and (min-width: 700px) {
    #list_description{
        display: none;
    }

    #grid_or_list_buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }
    
    #grid_button{
        font-size: xx-large;
        width: 55px;
        height: 50px;
        margin-right: 1rem;
        color: var(--white-secondary-color);
        background-color: var(--brown-main-color);
        border: 1px solid var(--off-white-card-color);
        display: block;
    }
    
    #grid_button:hover{
        background-color: #41250a;
    }
    
    #list_button{
        display: block;
        font-size: xx-large;
        width: 55px;
        height: 50px;
        color: var(--white-secondary-color);
        background-color: var(--brown-main-color);
        border: 1px solid var(--off-white-card-color);
    }
    
    #list_button:hover{
        background-color: #41250a;
    }
    

    /* Home page */

    #weather{
        display: flex;
        justify-content: center;
    }

    .weather_section{
        margin: 0 .5rem;
        padding: .5rem;
    }

    /* Join page */

    .membership{
        width: 318px;
    }

    
}
    @media screen and (min-width: 426px) {
    section{
        padding: 1rem;
    }

    #grid_or_list_buttons{
        margin-bottom: .5rem;
    }

    #cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
        grid-gap: 1rem;
    
    }

    #spotlight_cards{
        grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    }

    /* Home page */

    #hero_join_container{
        padding-bottom: 0;
    }

    /* Join page */
    
    #join_form_modal{
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        margin: 0 1rem 0 0;
    }

    /* Discover page */

    .attractions_card{
        width: 90%;
    }
}