@media screen and (min-width: 700px) {
    #menulinks{
        display: flex;
        justify-content: space-around;
    }

    #menu{
        display: none;
    }

    nav{
        display: block;
    }

    .nav_li{
        padding: 1rem;
        width: 8rem;
        text-align: center;
        margin-left: -2.5rem;
        
    }

    /* Home page */

    #weather{
        display: flex;
        justify-content: center;
    }

    .weather_section{
        margin: 0 .5rem;
        padding: .5rem;
    }

    /* Join page */

    .membership{
        width: 318px;
    }
}
    @media screen and (min-width: 426px) {

    .logo_title{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main{
        display: grid;
        grid-gap: 1rem;
        padding: 1.5rem;
    }
    
    section{
        padding: 1rem;
    }

    #grid_or_list_buttons{
        margin-bottom: .5rem;
    }

    #cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
        grid-gap: 1rem;
    
    }

    #spotlight_cards{
        grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    }

    /* Home page */

    #hero_join_container{
        padding-bottom: 0;
    }

    /* Join page */
    
    #join_form_modal{
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        margin: 0 1rem 0 0;
    }
}