:root{
    --brown-main-color: #59330D;
    --off-white-card-color: #f7f0b7;
    --main-background-color: #f8c742;
    --black-secondary-color: black;
    --white-secondary-color: white;
}

body{
    max-width: 80rem;
    margin: 0 auto;
}

header{
    background-color: var(--brown-main-color);
    padding: 1rem;
    
}

.logo_title{
    display: block;
    text-align: center;
}

#title{
    grid-column: 2;
    color: var(--white-secondary-color);
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;
}

#h1{
    color: var(--black-secondary-color);
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    text-align: center;
}

#menu{
    position: absolute;
    top: .4rem; left: .4rem;
    font-size: x-large;
    width: 40px;
    color: var(--white-secondary-color);
    background-color: var(--brown-main-color);
    border: none;
    
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "X";
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

nav{
    background-color: var(--black-secondary-color);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    
}

nav ul{overflow: hidden;}

nav.open{
    grid-template-rows: 1fr;
}

li{
    text-decoration: none;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: larger;
    padding: 1rem;
    text-align: center;
    margin-left: -2.5rem;
}

a{
    text-decoration: none;
    color: var(--white-secondary-color);
    padding: 1.5rem;
}

ul{
    margin: 0;
    list-style-type: none;
}

nav li:hover{
    background-color: #41250a;
}

main{
    padding: 1.5rem 0;
    color: var(--brown-main-color);
    background-color: var(--main-background-color);
}

@media screen and (min-width: 700px) {
    #menulinks{
        display: flex;
        justify-content: space-around;
    }

    #menu{
        display: none;
    }

    nav{
        display: block;
    }

    .nav_li{
        padding: 1rem;
        width: 8rem;
        text-align: center;
        margin-left: -2.5rem;
        
    }
}

footer{
    color: var(--white-secondary-color);
    background-color: var(--brown-main-color);
    text-align: center;
    padding: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}

@media screen and (min-width: 426px) {

    .logo_title{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main{
        display: grid;
        grid-gap: 1rem;
        padding: 1.5rem;
    }
}