@media only screen and (min-width: 38rem) {

    #form_info {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    fieldset {
        margin-right: 1rem;
    }

    #info {
        width: 23rem;
    }
}

@media only screen and (min-width: 64rem) {
    #form_info {
        padding: 0 5rem;
    }
}