:root{
    --main-orange-color: #ff6f00;
    --off-white-card-color: #eff1f1;
    --main-background-color: rgb(5, 5, 56);
    --color-black: black;
}

body{
    max-width: 1080px;
    margin: 0 auto;
}

header{
    background-color: var(--main-orange-color);
    text-align: center;
    padding: 1rem .8rem;
    font-family: 'Lora', serif;
    display: block;
}

.title{
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Lora', serif;
    padding: 0rem;
    margin: 0rem;
}

li{
    list-style: none;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-black);
    border-bottom: 1px solid rgb(77, 76, 76);
}

li:last-child{
    border-bottom: none;
}

a{
    display: block;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    padding: .75rem;
    width: 90%;
    margin: 0 auto;
    color: white;
}

.menu{
    position: absolute;
    top: 1rem; left: 1rem;
    font-size: x-large;
    background-color: #ff6f00;
    border: none;

}

.menu::before{
    content: "☰";
}

.menu.open::before{
    content: "X";
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

nav li:hover{
    background-color: rgb(77, 76, 76);
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    background-color: black;
}

nav ul{overflow: hidden;}


ul {
    display: block;
    margin: 0 0 0 -2.55rem;
}

nav.open {
    grid-template-rows: 1fr;
}

main{
    text-align: center;
    background-color: var(--main-background-color);
    padding: 1rem 0 3rem 0;
    color: white;
}

h1{
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    margin-bottom: 2rem;
}

h2{
    font-family: 'Lora', serif;
    font-size: 400;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

footer{
    background-color: var(--main-orange-color);
    padding: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-top: 1.5rem solid var(--color-black);
}

.gear{
    margin-bottom: -.25rem;
}

@media only screen and (min-width: 580px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
}

@media only screen and (min-width: 38rem) {
    
    nav {
        display: block;
    }

    
    ul{
        display: flex;
        justify-content: space-around;
    }

    .menu{
        display: none;
    }

    li{
        border-right: .12rem solid rgb(77, 76, 76);
        border-top: none;
        border-bottom: none;
    }

    li:last-child{
        border-right: none;
    }
}