:root{
    --main-orange-color: #ff6f00;
    
}

header{
    background-color: var(--main-orange-color);
    text-align: center;
    padding: 1rem;
    font-family: 'Lora', serif;
}

nav{
}

ul{
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 -2.55rem;
}

li{
    list-style: none;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    border-left: 1px solid rgb(77, 76, 76);
    border-right: 1px solid rgb(77, 76, 76);
}

a{
    display: block;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    padding: .75rem;
    width: 91%;
    margin: 0 auto;
    color: white;
}

nav li:hover{
    background-color: rgb(77, 76, 76);
}

main{
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    text-align: center;
}