:root{
    --main-orange-color: #ff6f00;
    
}

body{
    max-width: 1080px;
    margin: 0 auto;
}

header{
    background-color: var(--main-orange-color);
    text-align: center;
    padding: 1rem .8rem;
    font-family: 'Lora', serif;
    display: block;
}

#title{
    font-weight: bold;
    font-size: xx-large;
}

ul{
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 -2.55rem;
}

li{
    list-style: none;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    border-left: 1px solid rgb(77, 76, 76);
    border-right: 1px solid rgb(77, 76, 76);
}

a{
    display: block;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    padding: .75rem;
    width: 91%;
    margin: 0 auto;
    color: white;
}

nav li:hover{
    background-color: rgb(77, 76, 76);
}

main{
    text-align: center;
    background-color: rgb(238, 237, 237);
    padding: 1rem 0;
}

h1{
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
}

h2{
    font-family: 'Lora', serif;
    font-size: 400;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

footer{
    background-color: var(--main-orange-color);
    padding: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}