:root{
    --main-orange-color: #FF6F00;
    
}

header{
    padding: 1rem;
    text-align: center;
    color: black;
    background-color: var(--main-orange-color);
    font-family: "Lora", serif;
    font-weight: 400;
    letter-spacing: .1rem;
}

main{
    text-align: center;
}

div{
    margin: 0 auto;
}

h3{
    grid-column: 2;
    font-family: "Lora", serif;
}

h2{
    grid-column: 2;
    margin-bottom: 2rem;
    font-family: "Lora", serif;

}

.divp{
    margin: 0 auto;
    max-width: 40rem;
}

p{
    font-family: "Roboto", sans-serif;
}

.colorschema{
    margin: 0 auto;
}

#color_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .25fr .25fr .25fr;
}

.color1{
    grid-column: 1;
    grid-row: 2;
    color: black;
    padding: 1rem;
}

.part1{
    grid-column: 1;
    grid-row: 3;
}

.color2{
    grid-column: 2;
    grid-row: 2;
    color: black;
    background-color: var(--main-orange-color);
    height: fit-content;
    padding: 1rem;
    margin-left: .2rem;
}

.part2{
    grid-column: 2;
    grid-row: 3;
    padding: 0 .8rem;
}

.color3{
    grid-column: 3;
    grid-row: 2;
    color: rgb(77, 76, 76);
    padding: 1rem;
}

.part3{
    grid-column: 3;
    grid-row: 3;
}

.wireframe_photos{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.wireframeh2{
    
}

.largeview{
    padding: 0;
    margin: 0;
    
}

.mobileview{
    
}

footer{
    background-color: var(--main-orange-color);
    color: black;
    text-align: center;
    padding: 1rem;
}