.team{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 0rem;
}

.coaches{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem;
}

.team_card{
    background-color: rgb(10, 10, 102);
    color: white;
    padding: .5rem;
    margin: 1rem .5rem;
    display: grid;
    grid-template-areas: 
    "image"
    "name"
    "year";
    box-shadow: 0 0 10px 0 white;
}

.coaches_card{
    background-color: rgb(10, 10, 102);
    color: white;
    padding: .5rem;
    margin: 1rem .5rem;
    display: grid;
    grid-template-areas: 
    "image"
    "name"
    "year";
    box-shadow: 0 0 10px 0 white;
}

.name{
    grid-area: name;
}

.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: image;
}

.year{
    grid-area: year;
}

.primary_con{
    width: 14rem;
}