body{
    max-width: 60rem;
    margin: 0 auto;
}

header{
    display: block;
    background-color: powderblue;
    color: rgb(61, 61, 61);
}

.imgandname{
    display: flex;
    justify-content:center;
    align-items: center;
}

#menu{
    position: absolute;
    top: 1rem; right: 1rem;
    text-align: center;
    font-size: larger;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "X";
}

#studentname{
    margin: 0 1.3rem 0 2rem;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: xx-large;
}

h1{
    font-family: "Lora", serif;
    font-weight: 600;
    color: rgb(61, 61, 61);
    margin: 0 100% 0 0;

}

.profile{
    margin: 1rem 0 1rem 1rem;
    box-shadow: 0 0 10px rgb(60, 60, 60);
}

nav{
    display: none;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: larger;
    list-style: none;
    text-align: center;
    background-color: rgb(216, 214, 214);
}

nav::before{
    display: none;
}

nav.open{
    display: block;
    margin: 0 auto;
}

.open a{
    display: inherit;
}

a{
    text-decoration: none;
    color: rgb(61, 61, 61);
    margin-bottom: .5rem;
    padding: 1rem;
}

nav a:hover{
    text-decoration: underline;
    background-color: rgb(139, 218, 229);
}

main{
    background-color: rgb(248, 245, 245);
    padding: .9rem 3rem 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
}

h2{
    font-family: "Lora", serif;
    font-weight: 600;
    color: rgb(61, 61, 61);
    background-color: powderblue;
}

.coursework{
    width: 35rem;
    text-align: center;
    margin: 0 1rem 0 0;
}

.castle_gardens{
    text-align: center;
}

.certificate{
    width: 54rem;
    text-align: center;
    margin: 0 auto;
}

footer{
    color: rgb(61, 61, 61);
    background-color: rgb(248, 245, 245);
    padding: 2rem;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 600;
}